<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
    <script src="/js/jquery.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/FastHttpApi.js"></script>
    <script src="/js/Monitor.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/echarts.js"></script>
    <script src="/js/HomeController.js"></script>
    <title>Code Benchmark(https://github.com/ikende)</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                    <span class="sr-only">Code Benchmark</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://github.com/ikende" target="_blank" class="navbar-brand">Code Benchmark <small>V1.0</small> </a>
            </div>

        </div>
    </div>

    <div id="main" class="container bs-docs-container" style="padding-top:60px;padding-bottom:80px;padding-left:40px;min-height:100%">
        <div class="navbar navbar-inverse navbar-fixed-left" style="margin-left:-10px;">

        </div>
        <div class="row" style="min-height:100%">
            <div class="col-md-3 col">
                <p style="font-size:14pt;padding-top:10px;">
                    <a href="https://github.com/ikende/CodeBenchmarkDoc" target="_blank">Examples & issues</a>
                </p>

                <ul class="Tree">
                    <li v-for="item in Examples">
                        <div class="TreeItem">
                            <input type="checkbox" v-model:value="item.Selected" @change="categoryChange(item)" /> <img src="/images/module.png" />
                            <span @click="item.Show=!item.Show;">{{item.Key}}({{item.Items.length}})</span>
                        </div>
                        <ul v-if="item.Show" class="Tree" style="padding-left:20px;">
                            <li v-for="subitem in item.Items">
                                <div class="TreeItem">
                                    <input type="checkbox" v-model:value="subitem.Selected" />
                                    <img src="/images/case.png" />

                                    <span :title="subitem.Description" @click="subitem.Selected =!subitem.Selected"> {{subitem.Name}}</span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="col-md-9 col">

                <ol class="breadcrumb"
                    style="border-radius:0px; padding:4px;margin:4px;min-height:40px;padding-top:8px;padding-left:10px;background-color:#fff;">
                    <li style="background-color:#fff">
                        <form class="navbar-form navbar-left breadcrumb form-group-sm" role="search" style="padding:0px;margin:0px;background-color:#fff">
                            <div class="form-group form-group-sm">
                                <span title="Concurrent" style="font-weight:bold">Concurrent:</span>
                                <input title="Concurrent" @change="if(Concurrent>1000)Concurrent=1000;if(Concurrent<1)Concurrent=1;" type="number" class="form-control" v-model:value="Concurrent" style="width:100px;text-align:right">
                                <span title="Run time seconds" style="font-weight:bold">Times:</span>
                                <input title="Run time seconds" @change="if(Seconds>1000)Seconds=1000;if(Seconds<1)Seconds=1;" type="number" class="form-control" v-model:value="Seconds" style="width:80px;text-align:right">
                            </div>
                            <button v-if="Info.Status!='Runing'" style="padding:4px;" @click="onAddConcurrentCase" title="add concurrent case" type="button" class="btn btn-default btn-sm">
                                <img style="width:16px;" src="images/add.png" />
                            </button>
                            <button v-if="Info.Status!='Runing' && Rounds.length>0" style="padding:4px;" @click="onClearCase" title="clear concurrent case" type="button" class="btn btn-default btn-sm">
                                <img style="width:16px;" src="images/clear.png" />
                            </button>


                            <button v-if="Info.Status!='Runing'" style="padding:4px;" type="button" @click="start" title="benchmarking" class="btn btn-default btn-sm">

                                <img style="width:16px;" src="images/start_test.png" />
                            </button>
                            <button v-else type="button" class="btn btn-default btn-sm" @click="stop" title="stop" style="padding:4px;">
                                <img style="width:16px;" src="images/stop_test.png" />
                            </button>


                        </form>
                    </li>


                </ol>
                <ul class="nav nav-tabs">
                    <li role="presentation" :class="[SelectTab=='Test'?'active':'']" >
                    
                    <a href="javascript:void(0)" style="padding:4px;padding-left:10px;padding-right:10px;" @click="SelectTab='Test'">Test</a>
                    </li>
                    <li v-if="(Info.Status=='Completed' || Info.Status=='Stop') && Rounds.length>0" role="presentation" :class="[SelectTab=='Report'?'active':'']">
                    <a href="javascript:void(0)" style="padding:4px;padding-left:10px;padding-right:10px;" @click="onReport">RPS table</a>
                    </li>
                </ul>
                <div class="main-panel">
                    <div v-if="SelectTab=='Report'">

                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="report-th" style="width:10px;">

                                    </th>
                                    <th class="report-th">
                                        Name
                                    </th>
                                    <th class="report-th" style="text-align:right"></th>
                                    <th class="report-th" v-for="item in Report.Times" style="text-align:right">
                                        {{item}}
                                    </th>
                                    <th class="report-th" style="text-align:right">Best</th>
                                    <th class="report-th" style="text-align:right">Errors</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item,i) in Report.Items" :style="{backgroundColor:(item.Name?getBorderStyle(item,i):'#fff')}">
                                    <td v-if="!item.Name" :colspan="5+Report.Times.length">
                                        <b> {{item.Category}}</b>
                                    </td>
                                    <td v-if="item.Name" style="width:10px;"></td>

                                    <td v-if="item.Name" style="width:150px;">
                                        {{item.Name}}
                                    </td>
                                    <td v-if="item.Name">

                                        <div class="bar-item" :style="{width:item.Percent+'%',padding:'2px;',display:'grid',textAlign:'right'}">
                                            <span class="rps-value">{{item.Percent}}%</span>
                                        </div>
                                    </td>
                                    <td v-for="sitem in item.Items" style="text-align:right;width:80px;">
                                        <span :title="sitem.Count" :style="{color:(sitem.Value==item.Best?'lightseagreen':'#000')}">  {{new Intl.NumberFormat().format(sitem.Value)}}</span>
                                    </td>
                                    <td v-if="item.Name" style="text-align:right;width:80px;">
                                        {{new Intl.NumberFormat().format(item.Best)}}
                                    </td>
                                    <td v-if="item.Name" style="text-align:right;width:80px;">
                                        <span :style="{color:(item.Errors>0? 'read':'#808080')}"> {{new Intl.NumberFormat().format(item.Errors)}}</span>
                                    </td>
                                    <td style="width:10px;">

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <ul v-else id="mainResult" class="round-list">

                        <li v-for="(item) in Rounds" class="round-table">
                            <div class="round">
                                <div class="round-title">
                                    <a href="javascript:void(0)" @click="if(item.Items.length>0) item.Show=!item.Show">  <span>Concurrent:</span> {{item.Concurrent}}<span> | Times:{{item.Seconds}} </span>({{item.Status}})</a>
                                    <div class="tool-bar" style="float:right;">
                                        <a v-if="Info.Status !='Runing'" href="javascript:void(0)" @click="onDeleteItem(item)"><img style=" width:16px;" src="images/del.png" /></a>
                                        <a v-if="item.Items.length>0 && item.Show" @click="item.Show=false" href="javascript:void(0)"><img style=" width:16px;" src="images/small.png" /></a>
                                        <a v-if="item.Items.length>0 && !item.Show" @click="item.Show=true" href="javascript:void(0)"><img style=" width:16px;" src="images/large.png" /></a>
                                    </div>
                                </div>
                                <div :id="item.ID" :style="{display:item.Show?'':'none'}">
                                    <table class="table " style="margin-bottom:2px;">
                                        <tbody style="cursor:pointer;font-size:10pt;">
                                            <tr v-for="(sitem,i) in item.Items" v-if="item.ShowItems || i<3" :style="{backgroundColor:getBorderStyle(sitem,i)}">
                                                <td style="width:18px;padding:0px;padding-left:4px;border-color:#fff" :title="sitem.Status">
                                                    <img style="padding:0px;margin:0px;" v-if="sitem.Status=='Runing'" src="images/runing.gif" />
                                                    <img style="padding:0px;margin:0px;" v-else :src="['images/'+sitem.Status+'.png']" />
                                                </td>

                                                <td style="padding:2px;width:150px;border-color:#fff" :title="sitem.Category">
                                                    <a href="javascript:void(0)" @click="onSelectItem(item,sitem)"> {{sitem.Name}}</a>
                                                </td>
                                                <td style="padding:2px;border-color:#fff;text-align:right;width:100px;" @click="item.ShowItems=!item.ShowItems">
                                                    <span> {{new Intl.NumberFormat().format(sitem.Success)}} |</span>
                                                </td>
                                                <td style="padding:2px;border-color:#fff;text-align:right;width:80px;" @click="item.ShowItems=!item.ShowItems">
                                                    <span>(avg:{{new Intl.NumberFormat().format(sitem.AvgRps)}}</span>
                                                </td>
                                                <td style="padding:2px;border-color:#fff" @click="item.ShowItems=!item.ShowItems">
                                                    <span>max:{{new Intl.NumberFormat().format(sitem.MaxRps)}})</span>
                                                </td>
                                                <td style="padding:2px;text-align:right;width:100px;border-color:#fff" @click="item.ShowItems=!item.ShowItems">
                                                    <span style="color:#ff6a00;" title="errors"> {{new Intl.NumberFormat().format(sitem.Errors)}}</span>
                                                </td>
                                                <td style="padding:2px;width:100px;padding-right:4px;border-color:#fff">

                                                    <div class="bar-item1" :style="{width:sitem.TimePercent+'%'}">
                                                        <span style="margin-left:10px; margin-top:-2px;position:absolute;font-size:10pt;">{{sitem.Status}}</span>
                                                    </div>


                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="more-bar" v-if="!item.ShowItems && item.Status !='None' && item.Items.length>3" @click="item.ShowItems=true">
                                        <p style="position:absolute;width:100%;bottom:0px;padding:0px;margin:0px;">More...</p>
                                    </div>
                                    <table v-if="item.SelectItem && item.SelectItem.Name" class="table">
                                        <caption style="color:#000">
                                            <b>{{item.SelectItem.Name}} delay summary</b>
                                            <div class="tool-bar" style="float:right;">

                                                <a @click="item.SelectItem={}" href="javascript:void(0)"><img style=" width:16px;" src="images/small.png" /></a>

                                            </div>
                                        </caption>
                                        <tbody style="font-size:10pt;">
                                            <tr v-for="(d,k) in item.Latency">
                                                <td style="padding:1px;width:120px;border-color:#efefef"> {{d.name}}</td>
                                                <td style="padding:1px;width:100px;text-align:right;border-color:#efefef">{{new Intl.NumberFormat().format(d.value)}}</td>
                                                <td style="padding:1px;border-color:#efefef">
                                                    <div class="bar-item2" :style="{width:d.percent,display:'grid',textAlign:'right'}">
                                                        <span class="rps-value ">{{d.percent}}</span>
                                                    </div>
                                                </td>

                                              


                                            </tr>


                                        </tbody>
                                    </table>

                                    <table v-if="item.Report.length>0" class="table" style="margin-bottom:6px;cursor:pointer">

                                        <thead>
                                            <tr style="border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:gainsboro;">
                                                <th style="padding:0px;border:none;width:1px;"></th>
                                                <th style="padding:0px;border:none;"></th>
                                                <th style="text-align:right;padding:0px;border:none;">Total</th>
                                                <th style="padding:0px;border:none;"></th>
                                                <th style="text-align:right;padding:0px;border:none;">RPS</th>
                                                <th style="padding:0px;border:none;"> </th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody style="font-size:10pt;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:aliceblue;padding:1px;">
                                            <tr v-for="(gitem,k) in item.Report" :style="{backgroundColor:getBorderStyle(gitem,k)}">
                                                <td style="text-align:right;"><span style="padding-right:2px;color:#808080"> {{k+1}}</span></td>
                                                <td style="width:120px;" :title="gitem.Category"> {{gitem.Name}}</td>
                                                <td style="width:100px;text-align:right;">{{new Intl.NumberFormat().format(gitem.Value)}}</td>
                                                <td style="">
                                                    <div class="bar-itemrps" :style="{width:gitem.Percent+'%',display:'grid',textAlign:'right'}">
                                                        <span class="rps-value ">{{gitem.Percent}}%</span>
                                                    </div>
                                                </td>


                                                <td style="width:100px;text-align:right;">{{new Intl.NumberFormat().format(gitem.Rps.Value)}}</td>
                                                <td style="">
                                                    <div class="bar-item" :style="{width:gitem.Rps.Percent+'%',display:'grid',textAlign:'right'}">
                                                        <span class="rps-value ">{{gitem.Rps.Percent}}%</span>
                                                    </div>
                                                </td>

                                               
                                            </tr>


                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>











            </div>
        </div>

    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container" style="color:aliceblue;text-align:center;padding-top:10px;">
            <p>Copyright © 2019 <a href="http://www.ikende.com" target="_blank">ikende.com</a> email:henryfan@msn.com <a href="https://github.com/ikende" target="_blank">Github</a></p>
        </div>
    </div>
    <script>
        var _delayColors = ['#2B9B0C', '#20BC0F', '#36DB11', '#C2DD11', "#DB9E11", "#ED7C12", "#F25913", "#FF3F14", "#F71313", "#C91010", "#930000"];
        var home = new Home();
        var main = new Vue({
            el: '#main',
            data: {
                Examples: [],
                Concurrent: 10,
                Seconds: 10,
                Info: {},
                Items: [],
                Starting: false,
                ShowReport: false,
                Report: {},
                SelectTab:'Test',
                SelectItem: {},
                ItemSummary: [],
                ShowItem: true,
                Clears: false,
                Rounds: [],
                RoundID: new Date().getTime()
            },
            methods: {
                saveResult: function () {
                   
                },
                onReport: function () {
                    this.SelectTab = "Report";
                    var _this = this;
                    home.AllRpsReport().$(function (r) {
                        _this.Report = r.Data;
                    });
                },
                getBorderStyle: function (item, i) {
                    if (i % 2 == 1)
                        return "#FFFEF7";
                    else
                        return "#F2F2F2";
                    if (item.Status == 'Runing') {
                        return "deepskyblue";
                    }
                    else if (item.Status == "Completed") {
                        return "limegreen";
                    }
                    else if (item.Status == "Stop") {
                        return "orange";
                    }
                    else if (item.Status == "Error") {
                        return "orangered";
                    }
                    else if (item.Status == "Preparation") {
                        return "aqua";
                    }
                    else if (item.Status == "None") {
                        if (i % 2 == 1)
                            return "gainsboro";
                        else
                            return "ghostwhite";
                    }
                },
                getBackground: function (item, i) {

                },
                listExamples: function () {
                    var _this = this;
                    home.ListExamples().$(function (r) {
                        _this.Examples = r.Data;
                    });
                },
                categoryChange: function (item) {

                    item.Items.forEach(function (t) {
                        t.Selected = item.Selected;
                    });
                },
                selectExamples: function () {
                    var items = new Array();
                    this.Examples.forEach(function (t) {
                        t.Items.forEach(function (i) {
                            if (i.Selected)
                                items.push(i.ID);
                        });
                    });
                    return items;
                },
                getStatus: function () {
                    var _this = this;
                    home.GetStatus().$(function (r) {
                        _this.Info = r.Data;
                        if (_this.Rounds.length == 0 && _this.Info.Status != 'None' && _this.Clears == false) {

                            home.GetAllStatus().$(function (d) {
                                _this.Rounds = d.Data;
                            });
                        }
                        if (_this.Rounds.length > 0) {
                            _this.Rounds.forEach(function (v) {
                                if (v.ID == r.Data.ID) {
                                    v.Items = r.Data.Items;
                                }
                            });
                        }
                        r.Data.AllStatus.forEach(function (s) {
                            _this.Rounds.forEach(function (v) {
                                if (s.ID == v.ID)
                                    v.Status = s.Status;
                            })
                        });

                    });
                    this.Rounds.forEach(function (v) {
                        if (v.Status == "Completed" || v.Status == "Stop") {
                            var _item = v;

                            if (v.Report == null || v.Report.length == 0) {

                                home.GetRoundStatus(v.ID).$(function (r) {

                                    _item.Report = r.Data.Report;
                                    _item.Items = r.Data.Items;
                                });
                            }
                        }
                    });
                },
                onDeleteItem: function (item) {
                    if (confirm('Want to remove this use case?')) {
                        var _this = this;
                        home.DelRoundCase(item.ID).$(function (r) {
                            _this.Rounds = r.Data;
                        });
                    }
                },
                onClearCase: function () {
                    if (confirm("Want to clear all concurrent test cases?")) {
                        var _this = this;
                        _this.Clears = true;
                        _this.Info.Status = 'None';
                        home.ClearRoundCase().$(function (r) {
                            _this.Rounds = r.Data;
                        });

                    }
                },
                onAddConcurrentCase: function () {
                    for (i = 0; i < this.Rounds.length; i++) {
                        if (this.Rounds[i].Concurrent == this.Concurrent) {
                            alert(this.Concurrent+' concurrent cases already exist!');
                            return;
                        }
                    }
                    this.RoundID++;
                    this.Rounds.push({ ID: '_' + this.RoundID, Concurrent: this.Concurrent, Seconds: this.Seconds, Status: 'None', Items: [], Report: [] });
                    var _this = this;
                    home.AddRoundCase('_' + this.RoundID, this.Concurrent, this.Seconds).$(function (r) {
                        _this.Rounds = r.Data;
                    });
                },
                onSelectItem: function (item, sitem) {
                    this.SelectItem = item;
                    if (item.Status == 'Completed' || item.Status == 'Stop') {
                        var _this = this;
                        item.SelectItem = sitem;
                        home.GetLatency(item.ID, sitem.ID).$(function (r) {
                            item.Latency = r.Data;
                        });
                    }
                },
                start: function () {
                    var items = this.selectExamples();
                    var _this = this;
                    this.SelectTab = "Test";
                    this.ShowItem = true;
                    this.Clears = false;
                    this.SelectItem = {};
                    this.ItemSummary = [];
                    this.ReportData = [];
                    if (items.length == 0) {

                        alert('Select the examples to run!');
                        return;
                    }
                    if (this.Rounds.length == 0) {
                        alert('Add concurrent test cases!');
                        return;
                    }
                    var rounds = [];
                    this.Rounds.forEach(function (v) {
                        v.Status = 'None';
                        v.Items = [];
                        v.Report = [];
                        rounds.push({ ID: v.ID, Concurrent: v.Concurrent, Seconds: v.Seconds })
                    });
                    home.Run(rounds, items).$(function (r) {
                        _this.Starting = true;
                        _this.ShowReport = false;
                    });

                },
                stop: function () {
                    home.Stop().$();
                },
            }
        });
        main.listExamples();
        main.getStatus();
        setInterval(function () {
            main.getStatus();
        }, 1000);
    </script>
</body>

</html>