<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
    <script src="/js/jquery.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/FastHttpApi.js"></script>
    <script src="/js/Monitor.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/echarts.js"></script>
    <script src="/js/HomeController.js"></script>
    <title>Code Benchmark(https://github.com/ikende)</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                    <span class="sr-only">Code Benchmark</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://github.com/ikende" target="_blank" class="navbar-brand">Code Benchmark</a>
            </div>

        </div>
    </div>
   
    <div id="main" class="container bs-docs-container" style="padding-top:60px;padding-bottom:80px;padding-left:40px;min-height:100%">
        <div class="navbar navbar-inverse navbar-fixed-left" style="margin-left:-10px;">
            
        </div>
        <div class="row" style="min-height:100%">
            <div class="col-md-3 col">
                <p style="font-size:14pt;padding-top:10px;">
                    <a href="https://github.com/ikende/CodeBenchmarkDoc" target="_blank">Examples & issues</a>
                </p>

                <ul class="Tree">
                    <li v-for="item in Examples">
                        <div class="TreeItem">
                            <input type="checkbox" v-model:value="item.Selected" @change="categoryChange(item)" /> <img src="/images/module.png" />
                            <span @click="item.Show=!item.Show;">{{item.Key}}({{item.Items.length}})</span>
                        </div>
                        <ul v-if="item.Show" class="Tree" style="padding-left:20px;">
                            <li v-for="subitem in item.Items">
                                <div class="TreeItem">
                                    <input type="checkbox" v-model:value="subitem.Selected" />
                                    <img src="/images/case.png" />

                                    <span :title="subitem.Description" @click="subitem.Selected =!subitem.Selected"> {{subitem.Name}}</span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="col-md-9 col">

                <ol class="breadcrumb"
                    style="border-radius:0px; padding:4px;margin:2px;min-height:40px;padding-top:8px;padding-left:10px;background-color:#fff;border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:#808080">
                    <li style="background-color:#fff">
                        <form class="navbar-form navbar-left breadcrumb form-group-sm" role="search" style="padding:0px;margin:0px;background-color:#fff">
                            <div class="form-group form-group-sm">
                                <span title="Concurrent">Concurrent:</span>
                                <input title="Concurrent" @change="if(Concurrent>1000)Concurrent=1000;if(Concurrent<1)Concurrent=1;" type="number" class="form-control" v-model:value="Concurrent" style="width:100px;text-align:right">
                                <span title="Run time seconds">Run times:</span>
                                <input title="Run time seconds" @change="if(Seconds>1000)Seconds=1000;if(Seconds<1)Seconds=1;" type="number" class="form-control" v-model:value="Seconds" style="width:80px;text-align:right">
                            </div>
                            <button v-if="Info.Status!='Runing'" style="padding:4px;" type="button" class="btn btn-default btn-sm">
                                <img style="width:16px;" src="images/add.png" />
                            </button>
                            <button v-if="Info.Status!='Runing'" style="padding:4px;" type="button" @click="start" class="btn btn-default btn-sm">

                                <img style="width:16px;" src="images/start_test.png"/>
                            </button>
                            <button v-else type="button" class="btn btn-default btn-sm" @click="stop" style="padding:4px;">
                                <img style="width:16px;" src="images/stop_test.png" />
                            </button>

                        </form>
                    </li>


                </ol>

                <div>
                    <table class="table">

                        <thead>
                            <tr style="border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:gainsboro;">
                                <th style="border:none;width:18px;padding:2px;">
                                    <img v-if="!ShowItem && Items.length>3" src="images/large.png" @click="ShowItem=true" style="cursor:pointer" />
                                    <img v-if="ShowItem && Items.length>3" src="images/small.png" @click="ShowItem=false" style="cursor:pointer" />
                                </th>

                                <th style="border:none;padding:4px;">Example</th>
                                <th style="border:none;padding:4px;">Performance</th>
                                <th style="border:none;padding:4px;"></th>
                                <th style="border:none;padding:4px;text-align:right;">Errors</th>
                                <th style="border:none;padding:4px;text-align:right;">Status</th>
                            </tr>
                        </thead>
                        <tbody style="cursor:pointer;font-size:10pt;">

                            <tr v-for="(item,i) in Items" :style="{backgroundColor:getBorderStyle(item,i),display:(ShowItem||i<3)?'':'none'}">
                                <td style="width:18px;padding:0px;padding-left:4px;border-color:#fff" :title="item.Status">
                                    <img style="padding:0px;margin:0px;" v-if="item.Status=='Runing'" src="images/runing.gif" />
                                    <img style="padding:0px;margin:0px;" v-else :src="['images/'+item.Status+'.png']" />
                                </td>

                                <td style="padding:2px;width:150px;border-color:#fff" :title="item.Message">
                                    <a href="javascript:void(0)" @click="onSelectItem(item)"> {{item.Name}}</a>
                                </td>
                                <td style="padding:2px;border-color:#fff;text-align:right;width:100px;">

                                    <span> {{item.Success}} |</span>


                                </td>
                                <td style="padding:2px;border-color:#fff">


                                    <span>(avg:{{item.AvgRps}}  max:{{item.MaxRps}})</span>

                                </td>
                                <td style="padding:2px;text-align:right;width:100px;border-color:#fff"><span style="color:#ff6a00;"> {{item.Errors}}</span></td>
                                <td style="padding:2px;width:100px;padding-right:4px;border-color:#fff">

                                    <div class="bar-item1" :style="{width:item.TimePercent+'%'}">
                                        <span style="margin-left:10px; margin-top:-2px;position:absolute;font-size:10pt;">{{item.Status}}</span>
                                    </div>


                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div v-if="!ShowItem" class="closeDiv">

                    </div>
                </div>
              
                <table class="table" :style="{display:(ShowReport&&SelectItem.Name)?'':'none'}">
                    <caption style="color:#000"><b> {{SelectItem.Name}} delay summary</b></caption>
                    <tbody style="font-size:10pt;">
                        <tr v-for="(item,i) in ItemSummary" :style="{backgroundColor:getBorderStyle(item,i)}">
                            <td style="padding:2px;width:120px;border-color:#fff"> {{item.name}}</td>
                            <td style="padding:2px;width:100px;text-align:right;border-color:#fff">{{item.value}}</td>
                            <td style="padding:2px;border-color:#fff">
                                <div class="bar-item2" :style="{width:item.percent}">

                                </div>
                            </td>

                            <td style="padding:2px;width:80px;text-align:right;border-color:#fff">({{item.percent}})</td>


                        </tr>


                    </tbody>
                </table>



                <table v-for="(g,i) in ReportData" class="table" :style="{display:ShowReport?'':'none',marginBottom:'6px'}">
                    
                    <thead v-if="i==0">
                        <tr style="border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:gainsboro;">
                            <th style="padding:2px;border:none;"></th>
                            <th style="padding:2px;border:none;"></th>
                            <th style="text-align:right;padding:2px;border:none;">Total</th>
                            <th style="padding:2px;border:none;"></th>
                            <th style="padding:2px;border:none;"></th>
                            <th style="text-align:right;padding:2px;border:none;">RPS</th>
                            <th style="padding:2px;border:none;"> </th>
                            <th style="padding:2px;border:none;"></th>
                        </tr>
                    </thead>
                    <tbody style="font-size:10pt;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#ddd;padding:1px;">
                        <tr v-for="(item,i) in g.Items">
                            <td v-if="i==0" :rowspan="g.Items.length" :style="{width:'10px',verticalAlign:'middle',backgroundColor:getBorderStyle(item,i)}"></td>
                            <td style="padding:2px;width:120px;"> {{item.Name}}</td>
                            <td style="padding:2px;width:100px;text-align:right;">{{item.Value}}</td>
                            <td style="padding:2px;">
                                <div class="bar-itemrps" :style="{width:item.Percent+'%'}">

                                </div>
                            </td>
                            <td style="padding:2px;width:80px;text-align:right;">({{item.Percent}}%)</td>


                            <td style="padding:2px;width:100px;text-align:right;">{{item.Rps.Value}}</td>
                            <td style="padding:2px;">
                                <div class="bar-item" :style="{width:item.Rps.Percent+'%'}">

                                </div>
                            </td>

                            <td style="padding:2px;width:80px;text-align:right;">({{item.Rps.Percent}}%)</td>
                        </tr>


                    </tbody>
                </table>



            </div>
        </div>

    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container" style="color:aliceblue;text-align:center;padding-top:10px;">
            <p>Copyright © 2019 <a href="http://www.ikende.com" target="_blank">ikende.com</a> email:henryfan@msn.com <a href="https://github.com/ikende" target="_blank">Github</a></p>
        </div>
    </div>
    <script>
        var _delayColors = ['#2B9B0C', '#20BC0F', '#36DB11', '#C2DD11', "#DB9E11", "#ED7C12", "#F25913", "#FF3F14", "#F71313", "#C91010", "#930000"];
        var home = new Home();
        var main = new Vue({
            el: '#main',
            data: {
                Examples: [],
                Concurrent: 10,
                Seconds: 20,
                Info: {},
                Items: [],
                Starting: false,
                ShowReport: false,
                ReportData: [],
                SelectItem: {},
                ItemSummary: [],
                ShowItem: true
            },
            methods: {
                getBorderStyle: function (item, i) {
                    if (i % 2 == 1)
                        return "#FFFEF7";
                    else
                        return "#F2F2F2";
                    if (item.Status == 'Runing') {
                        return "deepskyblue";
                    }
                    else if (item.Status == "Completed") {
                        return "limegreen";
                    }
                    else if (item.Status == "Stop") {
                        return "orange";
                    }
                    else if (item.Status == "Error") {
                        return "orangered";
                    }
                    else if (item.Status == "Preparation") {
                        return "aqua";
                    }
                    else if (item.Status == "None") {
                        if (i % 2 == 1)
                            return "gainsboro";
                        else
                            return "ghostwhite";
                    }
                },
                getBackground: function (item, i) {

                },
                listExamples: function () {
                    var _this = this;
                    home.ListExamples().$(function (r) {
                        _this.Examples = r.Data;
                    });
                },
                categoryChange: function (item) {

                    item.Items.forEach(function (t) {
                        t.Selected = item.Selected;
                    });
                },
                selectExamples: function () {
                    var items = new Array();
                    this.Examples.forEach(function (t) {
                        t.Items.forEach(function (i) {
                            if (i.Selected)
                                items.push(i.ID);
                        });
                    });
                    return items;
                },
                getStatus: function () {
                    var _this = this;
                    home.GetStatus().$(function (r) {
                        _this.Info = r.Data;
                        _this.Items = r.Data.Items;
                        if (r.Data.Status == 'Completed' || r.Data.Status == 'Stop') {
                            //if (_this.Starting) {
                            //    _this.Starting = false;
                            _this.ShowReport = true;
                            home.Report().$(function (r) {
                                _this.ReportData = r.Data;
                            });
                            //}
                        }
                        else {
                            _this.ShowReport = false;
                        }
                    });
                },
                onSelectItem: function (item) {
                    this.SelectItem = item;
                    if (this.Info.Status == 'Completed' || this.Info.Status == 'Stop') {
                        var _this = this;
                        home.GetLatency(this.SelectItem.ID).$(function (r) {

                            _this.ItemSummary = r.Data;
                        });
                    }
                },
                start: function () {
                    var items = this.selectExamples();
                    var _this = this;
                    this.ShowItem = true;
                    this.SelectItem = {};
                    this.ItemSummary = [];
                    this.ReportData = [];
                    if (items.length == 0) {

                        alert('Select the examples to run!');
                        return;
                    }
                    home.Run(this.Concurrent, this.Seconds, items).$(function (r) {
                        _this.Starting = true;
                        _this.ShowReport = false;
                    });

                },
                stop: function () {
                    home.Stop().$();
                },
            }
        });
        main.listExamples();
        main.getStatus();
        setInterval(function () {
            main.getStatus();
        }, 1000);
    </script>
</body>

</html>