html
{
    height:100%;
}
body {
    height: 100%;
}
.navbar-fixed-left, .navbar-fixed-right {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0
}

@media (min-width:768px) {
    .navbar-fixed-left, .navbar-fixed-right {
        width: 280px;
        height: 100vh;
        border-radius: 0;
        margin-left:-10px;
    }

        .navbar-fixed-left .container, .navbar-fixed-left .container-fluid, .navbar-fixed-right .container, .navbar-fixed-right .container-fluid {
            padding-right: 0;
            padding-left: 0;
            width: auto
        }

        .navbar-fixed-left .navbar-header, .navbar-fixed-right .navbar-header {
            float: none;
            padding-left: 15px;
            padding-right: 15px
        }

        .navbar-fixed-left .navbar-collapse, .navbar-fixed-right .navbar-collapse {
            padding-right: 0;
            padding-left: 0;
            max-height: none
        }

            .navbar-fixed-left .navbar-collapse .navbar-nav, .navbar-fixed-right .navbar-collapse .navbar-nav {
                float: none !important
            }

                .navbar-fixed-left .navbar-collapse .navbar-nav > li, .navbar-fixed-right .navbar-collapse .navbar-nav > li {
                    width: 100%
                }

                    .navbar-fixed-left .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu, .navbar-fixed-right .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu {
                        top: 0
                    }

                .navbar-fixed-left .navbar-collapse .navbar-nav.navbar-right, .navbar-fixed-right .navbar-collapse .navbar-nav.navbar-right {
                    margin-right: 0
                }
}

@media (min-width:768px) {
    body {
        padding-top: 0;
        margin-left: 160px
    }

    .navbar-fixed-left {
        right: auto !important;
       z-index:0;
        border-width: 0 1px 0 0 !important;
        background-color: #f2f2f2;
        background-image: none;
        border: none;
    }

        .navbar-fixed-left .dropdown .dropdown-menu {
            left: 100%;
            right: auto;
            border-radius: 0 3px 3px 0
        }

        .navbar-fixed-left .dropdown .dropdown-toggle .caret {
            border-top: 4px solid transparent;
            border-left: 4px solid;
            border-bottom: 4px solid transparent;
            border-right: none
        }
}

.Tree
{
    padding:0px;
    margin:0px;
    list-style:none;
    cursor:pointer;
}
    .Tree input {
        cursor: pointer;
        display:inline-block;
        padding-top:4px;
    }

.TreeItem
{
    display:block;
    height:26px;
    padding-top:4px;
}
.TreeItem img{
    margin-top:-6px;
}
.bar-item {
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #a900bc 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%,#a900bc 100%);
    background: linear-gradient(to right, #ffffff 0%,#a900bc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a900bc',GradientType=1 );
    padding-left: 0px;
    box-shadow: 1px 0px 1px #b4b4b4;
    display: block;
    height: 15px;
    margin-top: 2px;
}

.bar-itemrps {
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #0082e5 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%,#0082e5 100%);
    background: linear-gradient(to right, #ffffff 0%,#0082e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0082e5',GradientType=1 );
    padding-left: 0px;
    box-shadow: 1px 0px 1px #b4b4b4;
    display: block;
    height: 15px;
    margin-top: 2px;
}

.bar-item1 {
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #00b282 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%,#00b282 100%);
    background: linear-gradient(to right, #ffffff 0%,#00b282 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00b282',GradientType=1 );
    padding-left: 0px;
    box-shadow: 1px 0px 1px #b4b4b4;
    display: block;
    height: 16px;
    margin-top: 1px;
    color: #000000;
}

.bar-item2 {
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #f94a00 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%,#f94a00 100%);
    background: linear-gradient(to right, #ffffff 0%,#f94a00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f94a00',GradientType=1 );
    padding-left: 0px;
    box-shadow: 1px 0px 1px #b4b4b4;
    display: block;
    height: 16px;
    margin-top: 1px;
    color: #000000;
}
.closeDiv {
    height: 70px;
    width: 100%;
    position: absolute;
    margin-top: -70px;
    z-index: 1000;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 82%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 82%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}